#btnRegister {
  position:absolute;
  left: 25%;
}

.button1{
  background-color: #159E83; /* Green */
  border: none;
  color: white;
}

.button1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 10px 30px 0 rgba(0,0,0,0.10);
}
