<div class="container">
  <h1>Login to your Account</h1>
  <br>

  <button class="btn btn-default button1 " (click)="loginGoogle()">Login with Google</button>

    <br><br>

  <div>
    <label>Username:</label>
    <br>
    <input #username>
  </div>
  <div>
    <label >Password:</label>
    <br>
    <input type="password" #password>
  </div>

  <br>
  <button class="btn btn-default button1" (click)="loginDetails(username.value, password.value)">Login with email</button>
  <button class="btn button1" (click)="registerClicked()" id="btnRegister"> Register</button>

  <div *ngIf="showRegister">
    <br>
    <br>

    <label class="col-sm-2 control-label">First Name</label>
    <input #firstName><br>
    <label class="col-sm-2 control-label">Last Name</label>
    <input #lastName><br>
    <label class="col-sm-2 control-label">Email</label>
    <input #email><br>
    <label class="col-sm-2 control-label">Username</label>
    <input #username><br>
    <label class="col-sm-2 control-label">Password:</label>
    <input type="password" #password><br>
    <label class="col-sm-2 control-label">Confirm password:</label>
    <input type="password" #confirmPassword><br>
    <label class="col-sm-2 control-label">Date of Birth</label>
    <input #DOB placeholder="Format: 31/01/2018"><br>
    <button class="button button1" (click)="saveDetails(firstName.value, lastName.value, email.value, username.value, password.value, confirmPassword.value, DOB.value)">Create Account</button>
  </div>

</div>

