<div class="container">
  <h1>Login to your Account</h1>
  <br>

  <button class="btn btn-default button1 " (click)="loginGoogle()">Login with Google</button>

    <br><br>

  <div>
    <label>Email:</label>
    <br>
    <input #email>
  </div>
  <div>
    <label>Password:</label>
    <br>
    <input type="password" #pass>
  </div>

  <br>
  <button class="btn btn-default button1" (click)="loginEmail(email.value, pass.value)">Login with email</button>
  <button class="btn button1" (click)="registerClicked()" id="btnRegister"> Register</button>

  <div *ngIf="showRegister">
    <br>
    <br>
    <label>Email:</label>
    <input #regEmail><br>
    <label>Password:</label>
    <input type="password" #regPassword><br>
    <label>Confirm password:</label>
    <input type="password" #confirmPassword><br>
    <button class="button button1" (click)="saveDetails(regEmail.value, regPassword.value, confirmPassword.value)">Create Account</button>
  </div>

</div>

