.table tr.active td {
  background-color:#123456 !important;
  color: white;

}

.scrollit {
  overflow:scroll;
  height:400px;
  width:1200px;
}

em {
  float:right;
  color:#E05C65;
  padding-left:10px;
}
