<label style="color: darkblue; font-size: 50px"><b>{{getCompanyName()}}</b></label><br>

<table class="table-bordered" style="font-size: 20px">
  <thead>
    <tr>
      <th scope="col">Metrics/Years</th>
      <th *ngFor="let year of years">
        {{year.year}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mLabel of metricsLabels">
      <td style="width: 100px">
        <label>{{mLabel}}</label>
      </td>
      <td *ngFor="let year of years">
        <input style="width: 160px" type="number" value="{{getMetricForLabelAndYear(mLabel, year.year)}}" #valueName (change)="setNewValueMetrics(mLabel, year.year, valueName.value)">
      </td>
    </tr>
  </tbody>
</table><br>

<button class="table-bordered btn-info" (click)="addNewRow(newLabel.value)">Add new metric</button> &nbsp;
<input #newLabel class="">



<!--{{getCompanyDivYield()}}-->
<!--{{getCompanyName()}}-->
<!--{{getCompanyPE()}}-->
