<form data-toggle="validator" role="form" xmlns="http://www.w3.org/1999/html">
  <ng-container *ngIf="(companies.length>0 && sharePrices.length>0 && brokers.length>0)">
    <div class="form-group">

      <label class=""><b>Name of the company: </b> {{getCompanyForRecord(holdingRecord.companyid, holdingRecord)}}</label><br/>
      <label class=""><b>Share Price: </b> {{getCurrentShareForCompany(holdingRecord.companyid)}}</label><br/>
      <label class=""><b>Broker: </b> {{getBrokerForRecord(holdingRecord.brokerid)}}</label><br/>

      <label class="label label-info"><b>Number of shares you want to add: </b> </label><br>
      <input class="form-control" type="number" placeholder="Number of Shares" #noShares (keyup)="setTotalPricePaid($event)">
      <br/>
      <h4 *ngIf="totPrice" class="label label-primary control-label" style="size: 15px"><b>Tot. Price</b> &nbsp;&nbsp;<span class="label label-primary"> {{totPrice}} EUR</span></h4><br/>
    </div>
  </ng-container>

</form>

<br/>
<button class ="btn btn-primary" id="btnAdd" (click)="addToExisting()">Add</button>

