<form data-toggle="validator" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" placeholder="Company symbol" #name>
    </div>
    <br>
    <button *ngIf="!checkedCompany" class ="btn btn-primary" id="btnCheck" (click)="checkCompany(name.value)">Check company</button>


    <div *ngIf="checkedCompany">

      <label class="col-sm-2 control-label">No. Shares</label>
      <div class="col-sm-10">
        <input class="form-control" step="1" min="0" type="number" placeholder="Number of shares you want to buy" #noShares (keyup)="setNumberOfShares(noShares.value)">
      </div>

      <label class="col-sm-2 control-label">Book Value</label>
      <div class="col-sm-10">
        <input class="form-control" step="0.00001" min="0" type="number" placeholder="Book Value" #bookValue (keyup)="setBookValue(bookValue.value/getCurrentFactor())">
      </div>

      <label class="col-sm-2 control-label">Share Price</label>
      <div class="col-sm-10">
        <input  *ngIf="existsSharePrice" class="form-control" type="number" value="{{price*getCurrentFactor()}}"  disabled>
        <input *ngIf="!existsSharePrice" class="form-control"  step="0.00001" min="0" type="number" placeholder="Insert your share price here" #price (change)="setSharePriceHTML(price.value/getCurrentFactor())">
      </div>

      <label class="col-sm-2 control-label">Dividend Yield (%)</label>
      <div class="col-sm-10">
        <input *ngIf="existsDividendYield" class="form-control" type="number" value="{{divYield}}"  disabled>
        <input *ngIf="!existsDividendYield" class="form-control" type="number" step="0.0000001" min="0" placeholder="Insert the dividend yield ration here " #divYield (change)="setDivYieldHTML(divYield.value)">
      </div>

      <label class="col-sm-2 control-label">Price to Earning ratio</label>
      <div class="col-sm-10">
        <input *ngIf="existsPE" class="form-control" type="number" value="{{PE}}" disabled>
        <input *ngIf="!existsPE" class="form-control" type="number" step="0.00001" min="0" placeholder="Insert the PE ratio here" #PE (change)="setPEHTML(PE.value)">
      </div>

      <label class="col-sm-2 control-label">Broker</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" placeholer="Broker name" #brokername (change)="setBrokerName(brokername.value)"><br>
        <button (click)="getBrokerDetailsDatabase()" class="btn btn-primary btnAdd">Add Broker</button>
        <!--<select (change)="setNewBroker($event)" class="select-picker">-->
          <!--<option [value]=""></option>-->
          <!--<option *ngFor="let broker of brokers" [value]="broker.id">-->
            <!--{{broker.name}}-->
          <!--</option>-->
        <!--</select>-->
      </div>

    </div>

    <div *ngIf="checkedCompany">
      <label class="col-sm-2 control-label">Security type</label>
      <div class="col-sm-10">
        <select  (change)="setNewTypeCompany($event)" class="select-picker" >
          <option [value]=""></option>
          <option *ngFor="let type of companytypes" [value]="type.number">{{type.type}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="typeOfCompany==2 || typeOfCompany==3">
      <!--<label class="col-sm-2 control-label">Net Asset Value</label>-->
      <!--<div class="col-sm-10">-->
        <!--<input  class="form-control" type="number" step="0.00000000000000000001" min="0" placeholder="Insert the NAV here" #NAV (change)="setNavHtml(NAV.value/getCurrentFactor())">-->
      <!--</div>-->

      <label class="col-sm-2 control-label">Total Expense Ratio</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" step="0.00000000000000000001" min="0" placeholder="Insert the TER here" #TER (change)="setTerHtml(TER.value)">
      </div>
    </div>

    <div *ngIf="typeOfCompany==2">
      <label class="col-sm-2 control-label">Gearing Ratio</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" placeholder="Insert the gearing ratio here" #gearing (change)="setGearing(gearing.value)">
      </div>

      <label class="col-sm-2 control-label">Premium / Discount</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" placeholder="Insert the Premium/Discount here" #PD (change)="setPd(PD.value)">
      </div>

    </div>

    <div *ngIf="typeOfCompany==3">
      <label class="col-sm-2 control-label">Type of ETF</label>
      <div class="col-sm-10">
        <!--<select #typeofetfhtml (change)="setNewTypeETF(typeofetfhtml.value)" (ngModel)="etftypes" class="select-picker" data-live-search="true">-->
        <!--<option *ngFor="let type of etftypes" [ngValue]="type.number">{{type.type}}</option>-->
        <!--</select>-->

        <select (change)="setNewTypeETF($event)" class="select-picker" >
          <option [value]="" ></option>
          <option *ngFor="let type of etftypes" [value]="type.number">{{type.type}}</option>
        </select>
      </div>
    </div>

  </div>

</form>

<div *ngIf="checkedCompany">
  <button *ngIf="typeOfCompany==1 && brokerEntered" class ="btn btn-primary btnAdd" (click)="saveDetailsNormal()">Add Company</button>
  <button *ngIf="typeOfCompany==2 && brokerEntered" class ="btn btn-primary btnAdd" (click)="saveDetailsTrust()">Add Trust</button>
  <button *ngIf="typeOfCompany==3 && brokerEntered" class ="btn btn-primary btnAdd" (click)="saveDetailsETF()">Add ETF</button>
</div>
