<form data-toggle="validator" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" placeholder="Company symbol" #name>
    </div>
<br>
    <button *ngIf="!checkedCompany" class ="btn btn-primary" id="btnCheck" (click)="checkCompany(name.value)">Check company</button>


    <div *ngIf="checkedCompany">

      <label class="col-sm-2 control-label">No. Shares</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" placeholder="Number of shares you want to buy" #noShares>
      </div>

      <label class="col-sm-2 control-label">Share Price</label>
      <div class="col-sm-10">
        <input *ngIf="existsSharePrice" class="form-control" type="number" value="{{price}}" disabled>
        <input *ngIf="!existsSharePrice" class="form-control" type="number" placeholder="Insert your share price here" #price>
      </div>

      <label class="col-sm-2 control-label">Dividend Yield</label>
      <div class="col-sm-10">
        <input *ngIf="existsDividendYield" class="form-control" type="number" value="{{divYield}}" disabled>
        <input *ngIf="!existsDividendYield" class="form-control" type="number" placeholder="Insert the dividend yield ration here " #divYield>
      </div>

      <label class="col-sm-2 control-label">Price to Earning ratio</label>
      <div class="col-sm-10">
        <input *ngIf="existsPE" class="form-control" type="number" value="{{PE}}" disabled>
        <input *ngIf="!existsPE" class="form-control" type="number" placeholder="Insert the PE ratio here" #PE>
      </div>

      <label class="col-sm-2 control-label">Choose your broker</label>
      <div class="col-sm-10">
        <select (ngModelChange)="setNewBroker($event)" (ngModel)="brokers" class="select-picker" data-live-search="true">
          <option *ngFor="let broker of brokers" [ngValue]="broker">
            {{broker.name}}
          </option>
        </select>
      </div>

    </div>

    <div *ngIf="checkedCompany">
      <label class="col-sm-2 control-label">Type of company</label>
      <div class="col-sm-10">
        <select (onModelChange)="setNewTypeCompany($event)" (ngModel)="companytypes" class="select-picker" data-live-search="true">
          <option *ngFor="let type of companytypes" [ngValue]="type.number">{{type.type}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="typeOfCompany==2 || typeOfCompany==3">
      <label class="col-sm-2 control-label">Net Asset Value</label>
      <div class="col-sm-10">
        <input  class="form-control" type="number" placeholder="Insert the NAV here" #NAV>
      </div>

      <label class="col-sm-2 control-label">Total Expense Ratio</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" placeholder="Insert the TER here" #TER>
      </div>
    </div>

    <div *ngIf="typeOfCompany==2">
      <label class="col-sm-2 control-label">Gearing Ratio</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" placeholder="Insert the gearing ratio here" #gearing>
      </div>

      <label class="col-sm-2 control-label">Premium / Discount</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" placeholder="Insert the Premium/Discount here" #PD>
      </div>

    </div>

    <div *ngIf="typeOfCompany==3">
      <label class="col-sm-2 control-label">Type of ETF</label>
      <div class="col-sm-10">
        <select (ngModelChange)="setNewTypeETF($event)" (ngModel)="etftypes" class="select-picker" data-live-search="true">
          <option *ngFor="let type of etftypes" [ngValue]="type.number">{{type.type}}</option>
        </select>
      </div>
    </div>

  </div>

</form>

<div *ngIf="checkedCompany">
  <button class ="btn btn-primary" id="btnAdd" (click)="saveDetails(name.value, price.value, noShares.value, divYield.value, PE.value, NAV.value, TER.value, gearing.value, PD.value)">Add</button>
</div>
