<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://siemens.com">Siemens</a>
    </div>

    <div *ngIf="isLoggedIn">
      <p class="navbar-text navbar-right">
        Logged in: <b>{{user_displayName==null?user_email:user_displayName}}</b><br> {{user_displayName==null?null:user_email}}
      </p>
    </div>
    <div *ngIf="!isLoggedIn">
      <p class="navbar-text navbar-right">Logged Out</p>
    </div>

  </nav>
  <router-outlet></router-outlet>
</div>
