<app-menu [@slideInOut]="menuState" (closeEvent)="toggleMenu()"></app-menu>


   <span class="border border-top-0" >
  <nav class="navbar  bg-dark navbar-dark fixed-top">

    <button (click)="toggleMenu()" class="hamburger">
      <span>toggle menu</span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" href="http://siemens.com">Siemens</a>
    </div>

    <div *ngIf="isLoggedIn">
      <p class="navbar-text navbar-right">
        Balance: <b>{{user_balance*getCurrentFactor() | number : '1.2'}} {{getCurrentCurrencyName()}}  &nbsp;&nbsp;&nbsp;&nbsp;</b>
        Logged in: <b>{{user_displayName==null?user_email:user_displayName}} &nbsp;&nbsp;&nbsp;&nbsp;</b>{{user_displayName==null?null:user_email}}
        <button class ="btn btn-primary button" id="btnLogOut" (click)="logout()">Log Out</button>
      </p>
    </div>
    <div *ngIf="!isLoggedIn">
      <p class="navbar-text navbar-right">Logged Out</p>
    </div>
  </nav>
   </span>

  <br/><br/><br/><br/><br/><br/>

<div>
  <div class="container">
    <!--<mycomp [varFromChild]="localObj" (numeEvent)="printUser($event)"></mycomp>-->
    <router-outlet></router-outlet>
  </div>
</div>

<nav class="bg-dark navbar-dark navbar navbar-fixed-bottom" id="footer">
    <p class="navbar-text navbar-right">Copyright © SIEMENS Java Internship Team 2018</p>
</nav>
