<p class="title"><b>Price Index</b></p>
<br/><br/>

<table class="table body">
  <thead>
  <th>Group</th>
  </thead>
  <tbody>

  <ng-container *ngIf="(groups.length > 0)">
    <tr *ngFor="let gr of groups" (click)="clickRecord(gr)">
      <td>
        <table>
          <thead>
          <th>{{gr.name}}</th>
          </thead>
          <tbody>
              <table>
                  <div *ngIf="gr.name == selectedRow.name">
                  <thead>
                  <th>Name</th>
                  <th>No. Shares</th>
                  <th>Share Price ({{symbol}})</th>
                  <th>Book Value ({{symbol}})</th>
                  <th>Current Value ({{symbol}})</th>
                  <th>Gain (%)</th>
                  <th>Broker</th>
                  </thead>
                  <tbody>
                      <ng-container *ngIf="(companies.length > 0)">
                        <tr *ngFor="let rec of getHoldingRecordsOfGroup(gr.name)">
                          <td>{{getCompanyForRecord(rec.companyid, rec)}}</td>
                          <td>{{rec.noShares}}</td>
                          <td>{{getCurrentShareForCompany(rec.companyid) * factor | number : '1.2'}}</td>
                          <td>{{rec.pricePaid * factor | number : '1.2'}}</td>
                          <td>{{getCurrentShareForCompany(rec.companyid)*rec.noShares * factor | number : '1.2'}}</td>
                          <td *ngIf="getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares)>=0" style="color: green">+{{getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares) | number : '1.2'}}%</td>
                          <td *ngIf="getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares)<0" style="color: red">{{getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares) | number : '1.2'}}%</td>
                          <td>{{getBrokerForRecord(rec.brokerid)}}</td>
                        </tr>
                      </ng-container>
                  </tbody>
                 </div>
              </table>
          </tbody>
        </table>
      </td>
    </tr>
  </ng-container>

  </tbody>
</table>

<br/>

<div class="btn-group">
  <button type="button" class="btn btn-outline-info" (click)="displayPrice()">SHARE PRICE</button>
  <button type="button" class="btn btn-outline-info" (click)="displayPercentage()">SHARE PERCENTAGE</button>
  <button type="button" class="btn btn-outline-info" (click)="displayTotal()">VALUATION BRACKETS GROUPS</button>
</div>

<div class="row ngx-chart-container" style="height: 350px;" *ngIf="results2.length > 0">
  <ngx-charts-line-chart
    [results]="results2"
    [autoScale]="true"

    [legend]="true"

    [autoScale]="true"

    [scheme]="'fire'"
    [xAxis]="true"
    [yAxis]="true"
    [animations]="false">
  </ngx-charts-line-chart>
</div>

<br/>

  <label class="col-sm-2 control-label">Currency: </label>
  <div class="col-sm-10">
    <select (change)="setNewCurrency($event)" class="dropdown-header">
      <option [value]=""></option>
      <option class="divider" *ngFor="let currency of currencies" [value]="currency.id">
        {{currency.symbol}}
      </option>
    </select>
  </div>

<br/>

  <button *ngIf="selectedCurrencyId" class ="btn btn-outline-info" (click)="changeCurrency()">Change Currency</button>

<br/><br/><br/><br/><br/>
