<h1>Currency Exchange</h1>
<table class="table table-bordered table-dark" >
  <thead>
  <tr>
    <th scope="col">Currency</th>
    <th scope="col"><img src="assets/images/eur.png"></th>
  </tr>
  </thead>
  <tbody style="font-family: 'Digital-7'; font-size: 23px; color: red">
  <tr>
    <th scope="row">
      <img src="assets/images/eur.png"> EUR
    </th>
    <td>{{getCurrencyFactor("EUR")}} EUR</td>
  </tr>
  <tr>
    <th scope="row">
      <img src="assets/images/ron.png"> RON
    </th>
    <td>{{getCurrencyFactor("RON")}} RON</td>
  </tr>
  <tr>
    <th scope="row">
      <img src="assets/images/usd.png"> USD
    </th>
    <td>{{getCurrencyFactor("USD")}} USD</td>
  </tr>
  <tr>
    <th scope="row">
      <img src="assets/images/gbp.png"> GBP
    </th>
    <td>{{getCurrencyFactor("GBP")}} GBP</td>
  </tr>
  </tbody>
</table>

<label class="col-sm-2 control-label">Currency: </label>
<div class="col-sm-10">
  <select (change)="setNewCurrency($event)" class="dropdown-header">
  <option [value]=""></option>
  <option class="divider" *ngFor="let currency of currencies" [value]="currency.id">{{currency.symbol}}
  </option>
  </select>
</div>
<br>
<button *ngIf="selectedCurrencyId" class ="btn btn-primary btnAdd" (click)="changeCurrency()">Change Currency</button>
