
<div class="scrollit">

<table class="table table-hover body">
  <thead>
      <th>Name</th>
      <th>No. Shares</th>
      <th>Share Price (&euro;)</th>
      <th>Book Value (&euro;)</th>
      <th>Current Value (&euro;)</th>
      <th>Gain (%)</th>
      <th>Broker</th>
  </thead>

  <tbody>

  <ng-container *ngIf="(companies.length>0 && holdingRecords.length>0 && sharePrices.length>0)">
    <tr *ngFor="let rec of holdingRecords" (click)="clickRecord(rec.id)" [class.active]="selectedRow === rec.id">
      <td>{{getCompanyForRecord(rec.companyid, rec)}}</td>
      <td>{{rec.noShares}}</td>
      <td>{{getCurrentShareForCompany(rec.companyid).toString()}}</td>
      <td>{{rec.pricePaid }}</td>
      <td>{{getCurrentShareForCompany(rec.companyid)*rec.noShares }}</td>
      <td>{{getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares).toString() + "%"}}</td>
      <td>{{getBrokerForRecord(rec.brokerid)}}</td>

    </tr>
  </ng-container>

  </tbody>
</table>
</div>

<br>
<div class="row">

  <div *ngIf="selectedRow!=null">
    <button (click)="gotoDetail()" class ="btn btn-outline-success">Add to {{getCompanyForRecord(selectedHoldingRecord.companyid, selectedHoldingRecord)}}</button>
    &nbsp;
  </div>

  <div *ngIf="selectedRow!=null">
    <button (click)="liquidate()" class="btn btn-outline-danger">Liquidate {{getCompanyForRecord(selectedHoldingRecord.companyid, selectedHoldingRecord)}}</button>
    &nbsp;
  </div>

</div>
<br>
<div class="row">
  <button id="btnAdd" class ="btn btn-outline-primary" (click)="goToAdd()">Add new holding share</button>
  &nbsp;

  <button (click)="insertionSort(holdingRecords, holdingRecords.length)" class ="btn btn-outline-info">Sort</button>
  &nbsp;

</div>
<br>

<br/><br/><br/><br/><br/>
