
<div class="scrollit">

<table class="table table-hover body">
  <thead>
      <th>Name</th>
      <th>No. Shares</th>
      <th>Share Price (&euro;)</th>
      <th>Book Value (&euro;)</th>
      <th>Current Value (&euro;)</th>
      <th>Gain (%)</th>
      <th>Broker</th>
  </thead>

  <tbody>

  <ng-container *ngIf="(companies.length>0 && holdingRecords.length>0 && sharePrices.length>0)">
    <tr *ngFor="let rec of holdingRecords">
      <td>{{getCompanyForRecord(rec.companyid, rec)}}</td>
      <td>{{rec.noShares}}</td>
      <td>{{getCurrentShareForCompany(rec.companyid).toString()}}</td>
      <td>{{rec.pricePaid }}</td>
      <td>{{getCurrentShareForCompany(rec.companyid)*rec.noShares }}</td>
      <td>{{getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares).toString() + "%"}}</td>
      <td>{{getBrokerForRecord(rec.brokerid)}}</td>

    </tr>
  </ng-container>

  </tbody>
</table>
</div>

<br/>
<button id="btnAdd" class ="btn btn-outline-info" (click)="goToAdd()">Add new holding share</button>
&nbsp;
<button (click)="insertionSort(holdingRecords, holdingRecords.length)" class ="btn btn-outline-info">Sort</button>

<br/><br/><br/><br/><br/>
