.button{
  background-color: #159E83; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.button2:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.table tr.active td {
  background-color:#123456 !important;
  color: white;

}

.scrollit {
  overflow:scroll;
  height:500px;
  width:1200px;
}
#btnAdd {
  text-color: #FFFFFF;
}
