
<div class="scrollit">

<table class="table table-hover body">
  <thead>
      <th (click)="columnClicked('NAME')">Name</th>
      <th (click)="columnClicked('NO SHARES')">No. Shares</th>
      <th (click)="columnClicked('SHARE PRICE')">Share Price ({{getCurrentCurrencyName()}})</th>
      <th (click)="columnClicked('BOOK VALUE')">Book Value ({{getCurrentCurrencyName()}})</th>
      <th (click)="columnClicked('CURRENT VALUE')">Current Value ({{getCurrentCurrencyName()}})</th>
      <th (click)="columnClicked('GAIN')">Gain (%)</th>
      <th (click)="columnClicked('BROKER')">Broker</th>
      <th (click)="columnClicked('LAST UPDATE')">Last updated</th>
  </thead>

  <tbody>

  <ng-container *ngIf="(companies.length>0 && holdingRecords.length>0 && sharePrices.length>0)">
    <tr *ngFor="let rec of holdingRecords" (click)="clickRecord(rec.id)" [class.active]="selectedRow === rec.id">
      <td>{{getCompanyForRecord(rec.companyid, rec)}}</td>
      <td>{{rec.noShares}}</td>
      <td>{{getCurrentShareForCompany(rec.companyid)*getCurrentFactor() | number : '1.2'}}</td>
      <td>{{rec.pricePaid*getCurrentFactor()  | number : '1.2'}}</td>
      <td>{{getCurrentShareForCompany(rec.companyid)*rec.noShares*getCurrentFactor() | number : '1.2'}}</td>
      <td *ngIf="getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares)>=0" style="color: green">+{{getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares) | number : '1.2'}}%</td>
      <td *ngIf="getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares)<0" style="color: red">{{getGain(rec.pricePaid, getCurrentShareForCompany(rec.companyid)*rec.noShares) | number : '1.2'}}%</td>
      <td>{{getBrokerForRecord(rec.brokerid)}}</td>
      <td>{{getLastTimeUpdatedSharePrice(rec.companyid) | date : "dd/MM/yyyy" }}</td>

    </tr>
  </ng-container>

  </tbody>
</table>
</div>

<br>
<div class="row" *ngIf="selectedRow!=null">



    <button (click)="gotoMetrics()" class="btn btn-primary">See Metrics</button>
    &nbsp;

  <button (click)="gotoDetail()" class ="btn btn-outline-success">Add to {{getCompanyForRecord(selectedHoldingRecord.companyid, selectedHoldingRecord)}}</button>
    &nbsp;
    <button (click)="gotoAddDividend()" class="btn btn-outline-warning">Add dividend to {{getCompanyForRecord(selectedHoldingRecord.companyid, selectedHoldingRecord)}}</button>
    &nbsp;
  <div *ngIf="!liquidatedpressed">
    <button (click)="pressLiquidate()" class="btn btn-outline-danger">Liquidate {{getCompanyForRecord(selectedHoldingRecord.companyid, selectedHoldingRecord)}}</button>
    &nbsp;
  </div>
  <div *ngIf="liquidatedpressed">
    <button (click)="pressLiquidate()" class="btn btn-outline-danger">Hide Liquidate</button>
    &nbsp;
  </div>
  <div *ngIf="isNotActualSharePrice">
    <button (click)="showSharePriceInput()" class="btn btn-dark">Update Share Price</button>
    &nbsp;
  </div>

</div>
<br>
<div *ngIf="liquidatedpressed">
<hr>
  <input #noSharesLiquidate (keyup)="setNoSharesLiquidated(noSharesLiquidate.value)" min="0" step="1" placeholder="{{selectedHoldingRecord.noShares}} shares"> &nbsp; <br>
  <label *ngIf="noSharesToLiquidate" class="">Book Value deducted: {{getBookValueLost()*getCurrentFactor() | number: '1.2'}} {{getCurrentCurrencyName()}}</label><br>
  <label *ngIf="noSharesToLiquidate" class=""><b>Added to balance: {{getLiquidatedMoney()*getCurrentFactor() | number: '1.2'}} {{getCurrentCurrencyName()}}</b> </label><br>
  <button *ngIf="noSharesToLiquidate" (click)="liquidate()" class="btn btn-outline-danger">Liquidate shares from {{getCompanyForRecord(selectedHoldingRecord.companyid, selectedHoldingRecord)}}</button><br>

  &nbsp;

<hr>
</div>
<div *ngIf="showUpdateSharePriceInput">
  <hr>
  <input #newSharePrice (keyup)="setNewSharePriceToUpdate(newSharePrice.value/getCurrentFactor())" type="number" min="0" step="0.00000000001" placeholder="New Share Price"> ({{getCurrentCurrencyName()}}) &nbsp; <br><br>
  <button (click)="updateSharePrice()" class="btn btn-outline-dark">Update Share Price</button><br>

  &nbsp;

  <hr>
</div>

<br>

<div class="row">
  <button id="btnAdd" class ="btn btn-outline-primary" (click)="goToAdd()">Add new holding share</button>

  &nbsp;&nbsp;

  <button (click)="sort(holdingRecords, holdingRecords.length)" class ="btn btn-outline-info">Sort</button>
  &nbsp;&nbsp;
  <p id="selectedColumn" style="color:#159E83;">{{selectedColumn}}</p>
  &nbsp;
</div>

<br/>

<h3 class="text-primary">Balance: </h3> <input type="number" class="form-control" #newBalanceUser><br>
<button (click)="setNewBalanceUser(newBalanceUser.value/getCurrentFactor())" class="btn btn-dark">Set new balance</button>

<br/><br/><br/><br/><br/>
